<div style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
		<div align=center>
			<font face="IranNastaliq" size=30>
				<p></p>
				<p></p>
به نام خدا
				<p></p>
			</font>
			<font color=#FF7500>
دانشگاه صنعتی شریف - دانشکده مهندسی کامپیوتر
            </font>
			<p></p>
			<font color=blue>
آمار و احتمال مهندسی
            </font>
			<br />
			<br />
پاییز ۱۳۹۷
		</div>
		<hr/>
		<font color=red size=6>
			<br />
			<div align=center>
مقدمه‌ای بر R
            </div>
		</font>
		<br />
		<div align=center>
متین خواجوی ، علی شریفی زارچی
        </div>
		<hr />
		<style type="text/css" scoped>
        p{
        border: 1px solid #a2a9b1;background-color: #f8f9fa;display: inline-block;
        };
        </style>
		<div>
			<h3>فهرست مطالب</h3>
			<ul style="margin-right: 0;">
				<li>
                    <a href="#sec_whatisR">
                        R چیست ؟
                    </a>
                </li>
                <li>
					<a href="#sec_installR">
                        نصب کردن R
                    </a>
				</li>
                <li>
					<a href="#sec_R_packages">
                      پکیج‌های R
                    </a>
				</li>
                <li>
					<a href="#sec_R_Intro">
                        مقدمات R
                    </a>
				</li>
                <li>
					<a href="#sec_statFunc">
                        توابع آماری
                    </a>
				</li>
                <li>
					<a href="#sec_R_DSs">
داده‌ساختار‌ها در R
                    </a>
				</li>
                <li>
					<a href="#sec_additional">
                        نکات تکمیلی
                    </a>
				</li>
			</ul>
		</div>
	</font>
</div>

<br>
<div id="sec_whatisR" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
		<font color=#FF7500 size=6>
R چیست ؟
        </font>
		<p></p>
		<hr>
         R یک زبان برنامه‌نویسی تفسیری برای محاسبات و تحلیل‌های آماری می‌باشد. 
        <br>
        از ویژگی‌های این زبان می‌توان به موارد زیر اشاره کرد:
        <br>
        <ul>
            <li>رایگان می‌باشد.</li>
            <li>دستوراتی ساده و بصری دارد که کار با آن را آسان می‌کند.</li>
            <li>دارای پکیج‌های مختلف و قوی برای نمودارسازی ، تحلیل‌های آماری و محاسبات آماری می‌باشد.</li>
            <li>دارای انجمن کاربران قوی می‌باشد.</li>
            <li>و ...</li>
        </ul>
        <br>        
در چند سال اخیر، به دلیل امکانات آماری و گرافیکی ، و همینطور استفاده راحت از آن R به یکی از محبوب‌ترین زبان‌ها بین آماردانان ، تحلیلگر‌های داده ، محققان و... تبدیل شده است.
	</font>
</div>

<p></p>
<br />
<div id="sec_installR" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
		<font color=#FF7500 size=6>
نصب کردن R
        </font>
		<p></p>
		<hr>
        ابتدا R را از <a href="https://cran.r-project.org/">اینجا</a> دانلود کنید.
        <br><br>
        <font color=#000000 size=5>
            <b>
نصب کردن R بر روی Jupyter Notebook:
            </b>
        </font>
        <br>
        بعد از نصب‌کردن R ، آن را اجرا کنید. 
        <br>
        در کنسولِ آن ، دستور زیر را اجرا کنید تا پکیج های مورد نیاز دانلود و نصب شود.
        <br>
	</font>
</div>

In [ ]:
install.packages(c('repr', 'IRdisplay', 'evaluate', 'crayon', 'pbdZMQ', 'devtools', 'uuid', 'digest'))

<div style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
    	سپس با استفاده از پکیج devtools ، پکیج IRkernel را نصب می‌کنیم :
        <br>
        دستور زیر را اجرا کنید.
    </font>
</div>

In [ ]:
devtools::install_github('IRkernel/IRkernel')

<div style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
	و حال باید R kernel را برای Jupyter نمایان کنیم. 
    </font>
</div>

In [ ]:
IRkernel::installspec()

<br>
<div id="sec_whatisR" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
        <font color=#000000 size=5>
            <b>
	نصب R Studio :
            </b>
        </font>
        <br>
	R studio  یک محیط گرافیکی برای کار با R می‌باشد. توصیه می‌کنم برای حل تمارین و یادگیری R آن را نصب کنید.
        <br><br>
        برای نصب آن را از <a href="http://www.rstudio.com/products/rstudio/download/">اینجا</a> دانلود کنید.
        <br>
	</font>
</div>

<br>
<div id="sec_R_packages" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
		<font color=#FF7500 size=6>
        پکیج‌های R
        </font>
		<p></p>
		<hr>
        پکیج‌ها در R شامل مجموعه‌ای از توابع و مجموعه‌داده‌ها (Datasets) می‌باشند. 
        <br><br>
        <b>
        نصب پکیج‌ها :    
        </b>
        <br>
        رایج‌ترین راه نصب یک پکیج در R به صورت زیر می‌باشد :
    </font>
</div>

In [ ]:
install.packages("Name Of the package")

<br>
<div id="sec_R_packages" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
		راه‌های دیگری نیز برای نصب پکیج‌ها موجود می‌باشد که در حال حاضر مورد نظر ما نمی‌باشد.
        <br>
        <br>
        <b>
        فراخوانی پکیج‌ها :
        </b>
        برای استفاده از هر پکیج باید آن را در R فراخوانی کنید.
    </font>
</div>

In [ ]:
library()

<br>
<div id="sec_R_packages" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
        <b>
        مجموعه دستورات مفید دیگر در ارتباط با پکیج‌ها :
        </b>
        <br>
    </font>
</div>

In [ ]:
## Removing a package
remove.packages("")

## Installed packages that need to be updated
old.packages()

## Updating old packages
update.packages()

## Using a function from a package without loading the package 
### PackageName::function()
ggplot2::geom_point

<br>
<div id="sec_R_Intro" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
		<font color=#FF7500 size=6>
        مقدمات R
        </font>
		<p></p>
		<hr>
        به بهترین شکلِ آموزش ، کار با R را شروع می‌کنیم :
	</font>
</div>

In [97]:
print("Hello World!")

[1] "Hello World!"

<br>
<div id="sec_whatisR" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
        <font color=#000000 size=5>
            <b>
                چاپ کردن :
            </b>
        </font>
        <br>
        فرض کنید که می‌خواهیم مقدار یک عبارت و یا متغیر را نمایش دهیم. برای این کار کافیست تا آن عبارت و یا متغیر را اجرا کرده و نتیجه چاپ می‌شود.
        <br>
	</font>
</div>

In [16]:
1 + 1
pi
sqrt(8)

[1] 2

[1] 3.141593

[1] 2.828427

<div id="sec_whatisR" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
        همینطور از تابع <code>()print</code> نیز برای چاپ کردن می‌توانیم استفاده کنیم.
        <br>
	</font>
</div>

In [18]:
print(pi)

[1] 3.141593

<div id="sec_whatisR" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
        نکته‌ای که تابع <code>()print</code> را متمایز می کند این است که هر شی (Object) را که در R داریم در فرمت درست چاپ می‌کند.
        <br>
        به عنوان مثال در زیر یک ماتریس را چاپ می‌کنیم. (درباره‌ی داده‌ساختار‌ها در جلوتر صحبت خواهیم کرد.)
	</font>
</div>

In [19]:
print(matrix(c(1,2,3,4),2,2))

     [,1] [,2]
[1,]    1    3
[2,]    2    4

<div id="sec_whatisR" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
        توجه : تابع <code>()print</code> در هربار تنها یک شی را چاپ می‌کند.
	</font>
</div>

In [25]:
print("Pi number is equal to " , pi)

[1] "Pi number is equal to "

<div id="sec_whatisR" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
        برای این‌کار از تابع <code>()cat</code> استفاده می‌کنیم. 
    </font>
</div>

In [28]:
cat("Pi number is equal to", pi , "\n")

Pi number is equal to 3.141593

<div id="sec_whatisR" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
        تابع <code>()cat</code> توانایی چاپ بردار (Vector) های ساده را نیز دارد.
    </font>
</div>

In [29]:
cat("12 months of the year are" , month.name , "\n")

12 months of the year are January February March April May June July August September October November December

<div id="sec_whatisR" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
(month.name و pi از جمله ثابت هایی هستند که خود R فراهم می‌کند.)
    </font>
</div>

<br>
<div id="sec_whatisR" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
        <font color=#000000 size=5>
            <b>
            تعریف متغیر :
            </b>
        </font>
        <br>
        در R برای تعریف یک متغیر نیاز به آوردن نوع آن نمی‌باشد. کافیست از عملگر <code>-&gt;</code> استفاده کنیم.
	</font>
</div>

In [53]:
s <- "this is a string"
x <- 4
s
print(x)

[1] "this is a string"

[1] 4

<div id="sec_whatisR" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
        نکته 1 : در اسم‌گذاری شی‌ها (Objects) می‌توانید از نقطه "." نیز در نام آن‌ها استفاده‌کنید همانطور که در بالاتر دیدیم month.name اسم یک بردار در R می‌باشد.
        <br>
        نکته 2 : از = نیز می‌توان برای مقدار‌دهی استفاده کرد ، اما در R ، عملگر =  کاربرد دیگری نیز دارد که آن مشخص کردن یک پارامتر در یک تابع می‌باشد. برای همین بهتر است از <code>-&gt;</code> استفاده کنیم.
        <br>
        <a href="https://renkun.me/2014/01/28/difference-between-assignment-operators-in-r/">اینجا</a> را مطالعه کنید.
    <br><br>
        با تعریف یک متغیر به این شکل ، متغیر در workspace نگه داشته می‌شود.
        <br>
        برای مشاهده متغیر‌ها و توابعی که در workspace ما قرار دارد از تابع <code>()ls</code> استفاده می‌کنیم.
        <br>
        برای دریافت جزئیات از <code>()ls.str</code> استفاده کنید.
    </font>
</div>

In [54]:
ls()
ls.str()
a <- 4
ls()
ls.str()

[1] "s" "x"

s :  chr "this is a string"
x :  num 4

[1] "a" "s" "x"

a :  num 4
s :  chr "this is a string"
x :  num 4

<div id="sec_whatisR" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
        با استفاده از دستور <code>()rm</code> می‌توانید متغیر‌ها را از workspace خود پاک کنید.
    </font>
</div>

In [55]:
print("Removing x")
rm("x")
ls.str()

##Clearing the workspace
rm(list = ls())

print("The workspace now :")
ls()

[1] "Removing x"

a :  num 4
s :  chr "this is a string"

[1] "The workspace now :"

character(0)

<br>
<div id="sec_whatisR" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
        <font color=#000000 size=5>
            <b>
کمک گرفتن در R :
            </b>
        </font>
        <br>
        یکی از بهترین راه‌های یادگیری و کمک گرفتن ، مطالعه مستندات پکیج‌ها و توابع می‌باشد که در خود R موجود می‌باشند.
        <br><br>
        از روش‌های زیر می‌توانید این مستندات را ببینید.
        </font>
</div>

In [ ]:
## Documentation of installed functions
?mean

## Documentation of functions
??highchart

## Documentation of packages or functions
help("")

#### Getting help on packages
vignette("")

<br>
<div id="sec_whatisR" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
        <font color=#000000 size=5>
            <b>
                ساخت یک بردار :
            </b>
        </font>
        <br>
            بردار‌ها از اصلی ترین قسمت‌های R می‌باشند. بردار‌ها می‌توانند شامل اعداد ، رشته‌ها یا مقادیر منطقی باشند اما نمی‌توانند به صورت ترکیبی از چند نوع باشند.
        <br>
        با عملگر <code>()c</code> می‌توانید یک بردار بسازید.
        </font>
</div>

In [57]:
c(1,3,3*pi,4+5)
c(T,F,T)

[1] 1.000000 3.000000 9.424778 9.000000

[1]  TRUE FALSE  TRUE

<div id="sec_whatisR" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
        اگر مقادیر داده شده به <code>()c</code> خود ، بردار باشند آن‌ها را باز کرده و با دیگر مقادیر ترکیب می‌کند.
    </font>
</div>

In [58]:
v1 <- c(1,4,5)
v2 <- c(8,5,6)
c(2,v1,v2,0)

[1] 2 1 4 5 8 5 6 0

<br>
<div id="sec_whatisR" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
        <font color=#000000 size=5>
            <b>
                مقایسه دو بردار :
            </b>
            <br>
        </font>
            با مقایسه دو بردار ، R عضو به عضو دو بردار را مقایسه کرده و برداری از مقادیر منطقی True – False برمی‌گرداند.
        </font>
</div>

In [60]:
v <- c(2,4,6)
u <- c(3,4,5)

u != v   # 2 != 3  4 == 4  6 != 5

v > u    # 2 < 3   4 == 4   6 > 5

[1]  TRUE FALSE  TRUE

[1] FALSE FALSE  TRUE

<div id="sec_whatisR" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
        همینطور :
    </font>
</div>

In [63]:
u > 4
v*2 > 7

[1] FALSE FALSE  TRUE

[1] FALSE  TRUE  TRUE

<br>
<div id="sec_whatisR" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
        <font color=#000000 size=5>
            <b>
انتخاب یک یا چند عضو بردار :
            </b>
            <br>
        </font>
        بر حسب شرایط به یک یا چند روش زیر عمل می‌کنیم.
        <br>
        <br>
        - استفاده از کروشه و انتخاب اعضا بر حسب اندیس آن‌ها. (توجه کنید که R اندیس‌ها از 1 شروع می‌شود.)
        </font>
</div>

In [65]:
v <- c(0,10,20,30,7,11,23)
v[1]

[1] 0

<div id="sec_whatisR" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
        - استفاده از اندیس های منفی به عنوان اعضای مستثنی شده.
    </font>
</div>

In [66]:
v[-1]

[1] 10 20 30  7 11 23

<div id="sec_whatisR" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
        - استفاده از برداری از اندیس‌ها برای انتخاب چند عضو
    </font>
</div>

In [67]:
v[2:4]
v[c(2,3,4)]
v[-c(2,3,4)]

[1] 10 20 30

[1] 10 20 30

[1]  0  7 11 23

<div id="sec_whatisR" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
        - استفاده از یک بردار منطقی (در بالاتر دیدیم که با اعمال عملگر‌های منطقی بر یک بردار ، خروجی یک بردار شامل مقادیر منطقی می‌باشد.)
    </font>
</div>

In [69]:
v[v > 8]
v[v > median(v)]

[1] 10 20 30 11 23

[1] 20 30 23

<br>
<div id="sec_whatisR" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
        <font color=#000000 size=5>
            <b>
تولید دنباله‌ای از اعداد :
            </b>
            <br>
        </font>
          - ساده‌ترین راه تولید دنباله با افزایش 1 :
        </font>
</div>

In [71]:
4:9
-3:7

[1] 4 5 6 7 8 9

 [1] -3 -2 -1  0  1  2  3  4  5  6  7

<div id="sec_whatisR" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
        فکر می‌کنید خروجی 6:4 چیست ؟
    </font>
</div>

In [ ]:
6:4

<div id="sec_whatisR" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
        <br>
        - می‌توانید برای ایجاد دنباله‌هایی با هر مقدار افزایش و یا با طول دنباله ایجاد شده  مشخص از تابع <code>()seq</code> استفاده کنید.
    </font>
</div>

In [82]:
seq(from = 3, to = 8, by = 2)
seq(from = 5, to = 20, length.out = 4)
seq(1,2,length.out = 5)

[1] 3 5 7

[1]  5 10 15 20

[1] 1.00 1.25 1.50 1.75 2.00

<div id="sec_whatisR" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
        <br>
        -  برای ایجاد مقادیر تکراری از تابع <code>()rep</code> استفاده می‌کنیم.
    </font>
</div>

In [83]:
rep(2,times = 4)

[1] 2 2 2 2

In [86]:
c(1:5,seq(6,10),(1:5)+10)

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15

<br>
<div id="sec_statFunc" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
		<font color=#FF7500 size=6>
        توابع آماری
        </font>
		<p></p>
		<hr>
        به طور پیش‌فرض در پکیج stats در R بسیاری از توابع کارآمد آماری موجود است که در زیر به بخشی از آن‌ها می‌پردازیم.
        <br><br>
        توابع مقدماتی آماری :
</font>
</div>

In [89]:
u <- c(10:1)
u

print("Mean :")
mean(u)

print("Standard Deviation :")
sd(u)

print("Variance :")
var(u)

print("Min :")
min(u)

print("Max :")
max(u)

print("Median :")
median(u)

 [1] 10  9  8  7  6  5  4  3  2  1

[1] "Mean :"

[1] 5.5

[1] "Standard Deviation :"

[1] 3.02765

[1] "Variance :"

[1] 9.166667

[1] "Min :"

[1] 1

[1] "Max :"

[1] 10

[1] "Median :"

[1] 5.5

<div id="sec_whatisR" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
        <br>
        و توابع توزیع‌های احتمالاتی :
    </font>
</div>

In [96]:
## For a random sample of normal distribution
sample <- rnorm(n = 5, mean = 0, sd = 1)
sample
##For other distributions:
## Use    runif    for uniform sample
## Use    rbinom   for binomial sample
## ...

[1]  0.27951474  1.00112696 -0.04935762 -0.64776340 -0.70751868

<div id="sec_whatisR" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
        <br>
        علاوه بر تابع بالا ، <code>()dnorm</code> چگالی توزیع را و <code>()pnorm</code> تابع توزیع را بر می‌گردانند.
    </font>
</div>

<br>
<div id="sec_R_DSs" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
		<font color=#FF7500 size=6>
            داده‌ساختار‌ها در R
        </font>
		<p></p>
		<hr>
        <br>
        <b>
            بردار‌ها :
        </b>
        <br>
        در مورد بردار‌ها بالاتر صحبت کردیم و در این بخش تنها به چند نکته تکمیلی می‌پردازیم :
        <br>
        - اضافه‌کردن داده به بردار :
        <br>
</font>
</div>

In [100]:
vec <- 1:6
vec

newVec <- c(vec,10,vec)
newVec

## Inserting Data into a Vector
append(vec,8:10, after = 2)

[1] 1 2 3 4 5 6

 [1]  1  2  3  4  5  6 10  1  2  3  4  5  6

[1]  1  2  8  9 10  3  4  5  6

<div id="sec_whatisR" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
        <br>
        <b>
            قانون بازیافت در R :
        </b>
        <br>
        پیش‌تر گفتیم که در هنگام انجام اعمال محاسباتی در R بر روی بردار‌ها ، R عمل مورد نظر را بر روی تک‌تک اعضا‌ی دو بردار انجام می‌دهد.
        <br>
        حال اگر طول دو بردار برابر نباشد چه می‌شود ؟
        <br><br>
        در این مواقع R ، قانون بازیافت را بر روی بردار کوچک‌تر اعمال می‌کند. 
        <br>
        یعنی دوباره از عضو اول بردار کوچک‌تر شروع می‌کند و به عنوان عضو بعدی از آن استفاده می‌کند.       
</font>
</div>

In [105]:
1:6 + 1:3

## 1 2 3 4 5 6
##    +
## 1 2 3 1 2 3

c(1,2,3,10,20,30) + 1:5

## 1 2 3 10 20 30
##     +
## 1 2 3  4  5  1

[1] 2 4 6 5 7 9

Warning message in c(1, 2, 3, 10, 20, 30) + 1:5:
"longer object length is not a multiple of shorter object length"

[1]  2  4  6 14 25 31

<div id="sec_whatisR" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
        <br>
        <b>
            ماتریس‌ها
        </b>
        <br>
        یکی از داده‌ساختار‌ های موجود در R ماتریس‌ها می‌باشند. 
</font>
</div>

In [123]:
## Create a matrix using matrix() function

# 2*4 matrix
matrix(1:8, nrow = 2)

#2*4 matrix, each row is filled first
matrix(1:8,nrow = 2, byrow = T)

# 4*2 matrix
matrix(1:8, ncol = 2)

     [,1] [,2] [,3] [,4]
[1,] 1    3    5    7
[2,] 2    4    6    8

     [,1] [,2] [,3] [,4]
[1,] 1    2    3    4
[2,] 5    6    7    8

     [,1] [,2]
[1,] 1    5
[2,] 2    6
[3,] 3    7
[4,] 4    8

In [125]:
## Name columns and rows of a matrix
m <- matrix(1:4,nrow = 2)
colnames(m) <- c("col one","col two")
rownames(m) <- c("row one","row two")
m

        col one col two
row one 1       3
row two 2       4

In [122]:
## Calling elements
print(m[2,])
print(m[,2])
print(m[2,2])

col one col two
      2       4
row one row two
      3       4
[1] 4

In [121]:
# Arithmatic on matrices
print("Scalar Multiplication:")
m * 2
print("Element Wise Multiplication:")
m * m
print("Matrix Multiplication:")
m %*% m

[1] "Scalar Multiplication:"

        col one col two
row one 2       6
row two 4       8

[1] "Element Wise Multiplication:"

        col one col two
row one 1        9
row two 4       16

[1] "Matrix Multiplication:"

        col one col two
row one  7      15
row two 10      22

<div id="sec_whatisR" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
        <br>
        <b>
Dataframes:
        </b>
        <br>
        Dataframe مهم‌ترین و پراستفاده‌ترین داده‌ساختاری است که در R می‌باشد.
        <br>
        یک جدول که در آن هر ستون شامل مقادیر یک متغیر و هر سطر شامل مجموعه‌ای از مقادیر هر ستون می‌باشد.
        
</font>
</div>

In [128]:
## Create a dataframe with data.frame()
df <- data.frame(
    ID = 1:5,
    Name = c("Ali","Reza","Kiarash","Nima","Hossein"),
    Grade = c(20,16,17.5,14,19))

df

  ID Name    Grade
1 1  Ali     20.0
2 2  Reza    16.0
3 3  Kiarash 17.5
4 4  Nima    14.0
5 5  Hossein 19.0

In [129]:
## Summary of a dataframe
summary(df)

       ID         Name       Grade
 Min.   :1   Ali    :1   Min.   :14.0
 1st Qu.:2   Hossein:1   1st Qu.:16.0
 Median :3   Kiarash:1   Median :17.5
 Mean   :3   Nima   :1   Mean   :17.3
 3rd Qu.:4   Reza   :1   3rd Qu.:19.0
 Max.   :5               Max.   :20.0

In [131]:
##Selecting elements
df$Grade

[1] 20.0 16.0 17.5 14.0 19.0

In [132]:
df[1,]

  ID Name Grade
1 1  Ali  20

In [135]:
df[,1]

[1] 1 2 3 4 5

In [139]:
df[df$Grade > 18,]

  ID Name    Grade
1 1  Ali     20
5 5  Hossein 19

In [143]:
df[c("ID","Grade")]

  ID Grade
1 1  20.0
2 2  16.0
3 3  17.5
4 4  14.0
5 5  19.0

<div id="sec_whatisR" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
        <br>
       همینطور هنگامی که مجموعه‌داده‌ای را از یک فایل می‌خوانید به صورت dataframe دخیره می‌شود.
</font>
</div>

In [ ]:
## Depending on the format of dataset
## for example inorder to read a .csv file, use read.csv()
read.csv("Address of the file")

<br>
<div id="sec_additional" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
		<font color=#FF7500 size=6>
نکات تکمیلی
        </font>
		<p></p>
		<hr>
        یکی از بهترین راه‌های دسترسی سریع و مرور نکات پایه‌ای R ، استفاده از cheat sheet های R می‌باشد.
        <br>
        در کنار این نوت‌بوک cheat sheet نکات پایه‌ای قرار داده‌شده که می‌توانید از آن استفاده کنید.
        <br>
        همینطور یک cheat sheet دیگر برای کار با R Studio نیز قرار داده شده است.
        <br><br>
        برای مطالعه بیشتر و کامل‌تر درباره‌ی R می‌توانید به کتاب R in Action مراجعه کنید.
        <br><br>
        نکته) از آن‌جایی که تمامی دانشجو‌ها مبانی‌برنامه‌سازی را گذرانده‌اند مفاهیمی همچون شرط‌ها ، حلقه‌ها و ... در این‌جا دوباره مطرح نمی‌شوند زیرا اساس آن‌ها تفاوتی نمی‌کند و کمی در نوع سینتکس فرق دارند.
</font>
</div>